<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="view_block_abstract_to_html_after">
        <observer name="morozov_similarity_view_block_abstract_to_html_after" instance="Morozov\Similarity\Observer\Block\ToHtmlAfter" />
    </event>
</config>
