<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="morozov_similarity" frontName="morozov_similarity">
            <module name="Morozov_Similarity" />
        </route>
        <route id="similar" frontName="similar">
            <module name="Morozov_Similarity" />
        </route>
    </router>
</config>
